name: hdf5 dev CI

# Triggers the workflow on a call from another workflow
on:
  workflow_call:
    inputs:
      cmake_version:
        description: "3.26.0 or later, latest"
        required: true
        type: string
      thread_safety:
        description: "TS or empty"
        required: true
        type: string
      concurrent:
        description: "CC or empty"
        required: true
        type: string
      build_mode:
        description: "release vs. debug build"
        required: true
        type: string
      save_binary:
        description: "binary-ext-name or missing"
        required: false
        default: "skip"
        type: string

permissions:
  contents: read

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  # A workflow that builds the library and runs all the tests
  Static_build_and_test:
    strategy:
      # The current matrix has one dimensions:
      #
      # * config name
      #
      # Most configuration information is added via the 'include' mechanism,
      # which will append the key-value pairs in the configuration where the
      # names match.
      matrix:
        name:
          - "Windows Static MSVC"
          - "Ubuntu Static gcc"
          - "MacOS Static Clang"

        # This is where we list the bulk of the options for each configuration.
        # The key-value pair values are usually appropriate for being CMake
        # configure values, so be aware of that.

        include:

          - name: "Windows Static MSVC"
            ostype: windows
            os: windows-latest
            shared: OFF
            cpp: ON
            fortran: OFF
            java: OFF
            docs: OFF
            libaecfc: ON
            localaec: OFF
            zlibfc: ON
            localzlib: OFF
            parallel: OFF
            mirror_vfd: OFF
            direct_vfd: OFF
            ros3_vfd: OFF
            generator: "-G \"Visual Studio 17 2022\" -A x64"
            run_tests: true

          - name: "Ubuntu Static gcc"
            ostype: ubuntu
            os: ubuntu-latest
            shared: OFF
            cpp: ON
            fortran: ON
            java: OFF
            docs: OFF
            libaecfc: ON
            localaec: OFF
            zlibfc: ON
            localzlib: OFF
            parallel: OFF
            mirror_vfd: ON
            direct_vfd: ON
            ros3_vfd: OFF
            generator: "-G Ninja"
            run_tests: true

          - name: "MacOS Static Clang"
            ostype: macos
            os: macos-latest
            shared: OFF
            cpp: ON
            fortran: OFF
            java: OFF
            docs: OFF
            libaecfc: ON
            localaec: OFF
            zlibfc: ON
            localzlib: OFF
            parallel: OFF
            mirror_vfd: ON
            direct_vfd: OFF
            ros3_vfd: OFF
            generator: "-G Ninja"
            run_tests: true

    if: ${{ inputs.thread_safety != 'TS' && inputs.concurrent != 'CC'}}
    # Sets the job's name from the properties
    name: "${{ matrix.name }}-${{ inputs.build_mode }}-${{ inputs.thread_safety }}-${{ inputs.concurrent }}"

    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

  # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      #Useful for debugging
      - name: Dump matrix context
        run: echo '${{ toJSON(matrix) }}'

      - name: Install Dependencies (Linux)
        run: |
           sudo apt-get update
           sudo apt-get install ninja-build graphviz
           sudo apt install libssl3 libssl-dev libcurl4 libcurl4-openssl-dev
        if: matrix.ostype == 'ubuntu'

      # CMake gets libaec from fetchcontent

      - name: Install Dependencies (macOS)
        run: brew install ninja curl
        if: ${{ matrix.ostype == 'macos' }}

      - name: Install Dependencies
        uses: ssciwr/doxygen-install@501e53b879da7648ab392ee226f5b90e42148449 # v1
        with:
          version: "1.13.2"

      - name: Install CMake
        uses: lukka/get-cmake@9e07ecdcee1b12e5037e42f410b67f03e2f626e1 # latest
        with:
            cmakeVersion: ${{ inputs.cmake_version }}
            ninjaVersion: latest

      - name: Check CMake Version
        shell: bash
        run: |
          which cmake
          cmake --version

      - name: Set environment for MSVC (Windows)
        run: |
          # Set these environment variables so CMake picks the correct compiler
          echo "CXX=cl.exe" >> $GITHUB_ENV
          echo "CC=cl.exe" >> $GITHUB_ENV
        if:  matrix.ostype == 'windows'

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Get Sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # CONFIGURE
      - name: Configure
        run: |
          mkdir "${{ runner.workspace }}/build"
          cd "${{ runner.workspace }}/build"
          cmake -C $GITHUB_WORKSPACE/config/cmake/cacheinit.cmake \
            ${{ matrix.generator }} \
            --log-level=VERBOSE \
            -DCMAKE_BUILD_TYPE=${{ inputs.build_mode }} \
            -DBUILD_SHARED_LIBS:BOOL=OFF \
            -DBUILD_STATIC_LIBS:BOOL=ON \
            -DHDF5_ENABLE_ALL_WARNINGS:BOOL=ON \
            -DHDF5_ENABLE_PARALLEL:BOOL=${{ matrix.parallel }} \
            -DHDF5_BUILD_CPP_LIB:BOOL=${{ matrix.cpp }} \
            -DHDF5_BUILD_FORTRAN:BOOL=${{ matrix.fortran }} \
            -DHDF5_BUILD_JAVA:BOOL=OFF \
            -DHDF5_BUILD_DOC:BOOL=OFF \
            -DHDF5_ENABLE_ZLIB_SUPPORT:BOOL=${{ matrix.zlibfc }} \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=${{ matrix.libaecfc }} \
            -DLIBAEC_USE_LOCALCONTENT:BOOL=${{ matrix.localaec }} \
            -DZLIB_USE_LOCALCONTENT:BOOL=${{ matrix.localzlib }} \
            -DHDF5_ENABLE_MIRROR_VFD:BOOL=${{ matrix.mirror_vfd }} \
            -DHDF5_ENABLE_DIRECT_VFD:BOOL=${{ matrix.direct_vfd }} \
            -DHDF5_ENABLE_ROS3_VFD:BOOL=${{ matrix.ros3_vfd }} \
            -DHDF5_PACK_EXAMPLES:BOOL=ON \
            -DHDF5_PACKAGE_EXTLIBS:BOOL=ON \
            -DHDF5_PACK_MACOSX_DMG:BOOL=OFF \
            $GITHUB_WORKSPACE
        shell: bash

      # BUILD
      - name: Build
        run: cmake --build . --parallel 3 --config ${{ inputs.build_mode }}
        working-directory: ${{ runner.workspace }}/build

      # RUN TESTS
      - name: Run Tests
        run: ctest . --parallel 2 -C ${{ inputs.build_mode }}
        working-directory: ${{ runner.workspace }}/build
        if: ${{ matrix.run_tests }}

