name: hdf5 dev CI

# Triggers the workflow on a call from another workflow
on:
  workflow_call:
    inputs:
      cmake_version:
        description: "3.26.0 or later, latest"
        required: true
        type: string
      thread_safety:
        description: "TS or empty"
        required: true
        type: string
      concurrent:
        description: "CC or empty"
        required: true
        type: string
      build_mode:
        description: "release vs. debug build"
        required: true
        type: string
      save_binary:
        description: "binary-ext-name or missing"
        required: false
        default: "skip"
        type: string
      java_version:
        description: "Java version for testing (11, 17, 21, 24, latest, auto)"
        required: false
        default: "auto"
        type: string
      force_java_implementation:
        description: "Force specific Java implementation (auto, ffm, jni)"
        required: false
        default: "jni"
        type: string

permissions:
  contents: read

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:

  # A workflow that builds the library and runs all the tests
  Build_and_test:
    strategy:
      # The current matrix has one dimensions:
      #
      # * config name
      #
      # Most configuration information is added via the 'include' mechanism,
      # which will append the key-value pairs in the configuration where the
      # names match.
      matrix:
        name:
          - "Windows MSVC"
          - "Ubuntu gcc"
          - "MacOS Clang"

        # This is where we list the bulk of the options for each configuration.
        # The key-value pair values are usually appropriate for being CMake
        # configure values, so be aware of that.

        include:

          # Windows w/ MSVC
          #
          # No Fortran, parallel, or VFDs that rely on POSIX things
          - name: "Windows MSVC"
            ostype: windows
            os: windows-latest
            shared: ON
            cpp: ON
            fortran: OFF
            java: ON
            docs: ON
            libaecfc: ON
            localaec: OFF
            zlibfc: ON
            localzlib: OFF
            parallel: OFF
            mirror_vfd: OFF
            direct_vfd: OFF
            generator: "-G \"Visual Studio 17 2022\" -A x64"
            run_tests: true

          # Linux (Ubuntu) w/ gcc
          #
          - name: "Ubuntu gcc"
            ostype: ubuntu
            os: ubuntu-latest
            shared: ON
            cpp: ON
            fortran: ON
            java: ON
            docs: ON
            libaecfc: ON
            localaec: OFF
            zlibfc: ON
            localzlib: OFF
            parallel: OFF
            mirror_vfd: ON
            direct_vfd: ON
            generator: "-G Ninja"
            run_tests: true

          # MacOS w/ Clang
          #
          - name: "MacOS Clang"
            ostype: macos
            os: macos-latest
            shared: ON
            cpp: ON
            fortran: OFF
            java: ON
            docs: ON
            libaecfc: ON
            localaec: OFF
            zlibfc: ON
            localzlib: OFF
            parallel: OFF
            mirror_vfd: ON
            direct_vfd: OFF
            generator: "-G Ninja"
            run_tests: true

    # Sets the job's name from the properties
    name: "${{ matrix.name }}-${{ inputs.build_mode }}-${{ inputs.thread_safety }}-${{ inputs.concurrent }}"

    # Don't run the action if the commit message says to skip CI
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      #Useful for debugging
      - name: Dump matrix context
        run: echo '${{ toJSON(matrix) }}'

      - name: Install Dependencies (Linux)
        run: |
           sudo apt-get update
           sudo apt-get install ninja-build graphviz
           sudo apt install libssl3 libssl-dev libcurl4 libcurl4-openssl-dev
        if: matrix.ostype == 'ubuntu'

      # CMake gets libaec from fetchcontent

      - name: Install Dependencies (macOS)
        run: brew install ninja curl
        if: ${{ matrix.ostype == 'macos' }}

      - name: Install Dependencies
        uses: ssciwr/doxygen-install@501e53b879da7648ab392ee226f5b90e42148449 # v1
        with:
          version: "1.13.2"

      - name: Install CMake
        uses: lukka/get-cmake@9e07ecdcee1b12e5037e42f410b67f03e2f626e1 # latest
        with:
            cmakeVersion: ${{ inputs.cmake_version }}
            ninjaVersion: latest

      - name: Check CMake Version
        shell: bash
        run: |
          which cmake
          cmake --version

      - name: Set up Java (if specified or FFM required)
        if: inputs.java_version != 'auto' || inputs.force_java_implementation == 'ffm'
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: ${{ inputs.force_java_implementation == 'ffm' && 'oracle' || 'temurin' }}
          java-version: |
            ${{
              inputs.force_java_implementation == 'ffm' && '25' ||
              inputs.java_version == 'latest' && '24' ||
              inputs.java_version
            }}

      - name: Verify Java Setup
        if: inputs.java_version != 'auto' || inputs.force_java_implementation == 'ffm'
        run: |
          java -version
          echo "JAVA_HOME=$JAVA_HOME"
          echo "Selected Java implementation: ${{ inputs.force_java_implementation }}"

      - name: Set environment for MSVC (Windows)
        run: |
          # Set these environment variables so CMake picks the correct compiler
          echo "CXX=cl.exe" >> $GITHUB_ENV
          echo "CC=cl.exe" >> $GITHUB_ENV
        if:  matrix.ostype == 'windows'

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Get Sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup jextract (FFM builds only)
        if: ${{ inputs.force_java_implementation == 'ffm' }}
        uses: ./.github/actions/setup-jextract
        with:
          java-version: '25'

      # CONFIGURE
      - name: Configure
        run: |
          mkdir "${{ runner.workspace }}/build"
          cd "${{ runner.workspace }}/build"
          cmake -C $GITHUB_WORKSPACE/config/cmake/cacheinit.cmake \
            ${{ matrix.generator }} \
            --log-level=VERBOSE \
            -DCMAKE_BUILD_TYPE=${{ inputs.build_mode }} \
            -DBUILD_SHARED_LIBS:BOOL=${{ matrix.shared }} \
            -DHDF5_ENABLE_ALL_WARNINGS:BOOL=ON \
            -DHDF5_ENABLE_DOXY_WARNINGS:BOOL=ON \
            -DHDF5_ENABLE_PARALLEL:BOOL=${{ matrix.parallel }} \
            -DHDF5_BUILD_CPP_LIB:BOOL=${{ matrix.cpp }} \
            -DHDF5_BUILD_FORTRAN:BOOL=${{ matrix.fortran }} \
            -DHDF5_BUILD_JAVA:BOOL=${{ matrix.java }} \
            -DHDF5_BUILD_DOC:BOOL=${{ matrix.docs }} \
            -DHDF5_ENABLE_ZLIB_SUPPORT:BOOL=${{ matrix.zlibfc }} \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=${{ matrix.libaecfc }} \
            -DLIBAEC_USE_LOCALCONTENT:BOOL=${{ matrix.localaec }} \
            -DZLIB_USE_LOCALCONTENT:BOOL=${{ matrix.localzlib }} \
            -DHDF5_TEST_API:BOOL=ON \
            -DHDF5_TEST_SHELL_SCRIPTS:BOOL=ON \
            -DENABLE_EXTENDED_TESTS:BOOL=OFF \
            -DHDF5_ENABLE_MIRROR_VFD:BOOL=${{ matrix.mirror_vfd }} \
            -DHDF5_ENABLE_DIRECT_VFD:BOOL=${{ matrix.direct_vfd }} \
            -DHDF5_PACK_EXAMPLES:BOOL=ON \
            -DHDF5_PACKAGE_EXTLIBS:BOOL=ON \
            -DHDF5_PACK_MACOSX_DMG:BOOL=OFF \
            -DHDF5_ENABLE_JNI:BOOL=${{ inputs.force_java_implementation == 'jni' }} \
            $GITHUB_WORKSPACE
        shell: bash
        if: ${{ inputs.thread_safety != 'TS' && inputs.concurrent != 'CC'}}

      - name: Configure (Thread-Safe)
        run: |
          mkdir "${{ runner.workspace }}/build"
          cd "${{ runner.workspace }}/build"
          cmake -C $GITHUB_WORKSPACE/config/cmake/cacheinit.cmake \
            ${{ matrix.generator }} \
            -DCMAKE_BUILD_TYPE=${{ inputs.build_mode }} \
            -DBUILD_SHARED_LIBS:BOOL=ON \
            -DBUILD_STATIC_LIBS:BOOL=${{ (matrix.ostype != 'windows') }} \
            -DHDF5_ENABLE_ALL_WARNINGS:BOOL=ON \
            -DHDF5_ENABLE_THREADSAFE:BOOL=ON \
            -DHDF5_ENABLE_CONCURRENCY:BOOL=OFF \
            -DHDF5_ENABLE_PARALLEL:BOOL=${{ matrix.parallel }} \
            -DHDF5_BUILD_CPP_LIB:BOOL=OFF \
            -DHDF5_BUILD_FORTRAN:BOOL=OFF \
            -DHDF5_BUILD_JAVA:BOOL=OFF \
            -DHDF5_BUILD_HL_LIB:BOOL=OFF \
            -DHDF5_BUILD_DOC:BOOL=OFF \
            -DHDF5_ENABLE_ZLIB_SUPPORT:BOOL=${{ matrix.zlibfc }} \
            -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=${{ matrix.libaecfc }} \
            -DLIBAEC_USE_LOCALCONTENT:BOOL=${{ matrix.localaec }} \
            -DZLIB_USE_LOCALCONTENT:BOOL=${{ matrix.localzlib }} \
            -DHDF5_ENABLE_MIRROR_VFD:BOOL=${{ matrix.mirror_vfd }} \
            -DHDF5_ENABLE_DIRECT_VFD:BOOL=${{ matrix.direct_vfd }} \
            -DHDF5_PACK_EXAMPLES:BOOL=ON \
            -DHDF5_PACK_MACOSX_DMG:BOOL=OFF \
            $GITHUB_WORKSPACE
        shell: bash
        if: ${{ inputs.thread_safety == 'TS' && inputs.concurrent != 'CC'}}

      - name: Configure (Concurrency)
        run: |
          mkdir "${{ runner.workspace }}/build"
          cd "${{ runner.workspace }}/build"
          cmake -C $GITHUB_WORKSPACE/config/cmake/cacheinit.cmake \
            ${{ matrix.generator }} \
            -DCMAKE_BUILD_TYPE=${{ inputs.build_mode }} \
            -DBUILD_SHARED_LIBS=ON \
            -DBUILD_STATIC_LIBS=${{ (matrix.ostype != 'windows') }} \
            -DHDF5_ENABLE_ALL_WARNINGS=ON \
            -DHDF5_ENABLE_THREADSAFE:BOOL=OFF \
            -DHDF5_ENABLE_CONCURRENCY:BOOL=ON \
            -DHDF5_ENABLE_PARALLEL:BOOL=${{ matrix.parallel }} \
            -DHDF5_BUILD_CPP_LIB:BOOL=OFF \
            -DHDF5_BUILD_FORTRAN:BOOL=OFF \
            -DHDF5_BUILD_JAVA:BOOL=OFF \
            -DHDF5_BUILD_HL_LIB:BOOL=OFF \
            -DHDF5_BUILD_DOC=OFF \
            -DLIBAEC_USE_LOCALCONTENT=${{ matrix.localaec }} \
            -DZLIB_USE_LOCALCONTENT=${{ matrix.localzlib }} \
            -DHDF5_ENABLE_MIRROR_VFD:BOOL=${{ matrix.mirror_vfd }} \
            -DHDF5_ENABLE_DIRECT_VFD:BOOL=${{ matrix.direct_vfd }} \
            -DHDF5_PACK_EXAMPLES:BOOL=ON \
            $GITHUB_WORKSPACE
        shell: bash
        if: ${{ inputs.thread_safety != 'TS' && inputs.concurrent == 'CC'}}

      # BUILD
      - name: Build
        run: cmake --build . --parallel 3 --config ${{ inputs.build_mode }}
        working-directory: ${{ runner.workspace }}/build

      # RUN TESTS
      - name: Run Tests
        run: ctest . --parallel 2 -C ${{ inputs.build_mode }}
        working-directory: ${{ runner.workspace }}/build
        if: ${{ matrix.run_tests }}

      - name: Run Package
        run: |
          if [[ "${{ matrix.ostype }}" == "macos" ]]; then
            # Disable indexing to prevent file locking during CPack
            sudo mdutil -i off / || true

            # Run cpack with retry
            cpack -C ${{ inputs.build_mode }} -V || (sleep 5 && cpack -C ${{ inputs.build_mode }} -V)
          else
            cpack -C ${{ inputs.build_mode }} -V
          fi
        working-directory: ${{ runner.workspace }}/build
        shell: bash
#        if: ${{ (matrix.ostype != 'macos') && (inputs.build_mode != 'Debug') }}

#      - name: Run Package (Mac_latest)
#        run: cpack -C ${{ inputs.build_mode }} -G STGZ -V
#        if: ${{ (matrix.ostype == 'macos') }}

      - name: List files in the space
        run: |
              ls -l ${{ runner.workspace }}/build

      # Save files created by CTest script
      - name: Save published binary (Windows)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v5
        with:
              name: zip-vs2022_cl-${{ inputs.build_mode }}-${{ inputs.save_binary }}-binary
              path: ${{ runner.workspace }}/build/HDF5-*-win64.zip
              if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
        if:  ${{ (matrix.ostype == 'windows') && ( inputs.save_binary != 'skip') }}

      - name: Save published binary (linux)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v5
        with:
              name: tgz-ubuntu-2404_gcc-${{ inputs.build_mode }}-${{ inputs.save_binary }}-binary
              path: ${{ runner.workspace }}/build/HDF5-*-Linux.tar.gz
              if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
        if:  ${{ (matrix.ostype == 'ubuntu') && ( inputs.save_binary != 'skip') }}

      - name: Save published binary (Mac_latest)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v5
        with:
              name: tgz-macos14_clang-${{ inputs.build_mode }}-${{ inputs.save_binary }}-binary
              path: ${{ runner.workspace }}/build/HDF5-*-Darwin.tar.gz
              if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
        if: ${{ (matrix.ostype == 'macos') && ( inputs.save_binary != 'skip') }}
